/*  your css code here. If applicable */
body{
    background:#f5f5f5;
    padding: 5px;
}
h1{
    background: #011e29;
    color: white;
    padding: 20px;
    text-align: center;
}
*{
    margin:0;
}
.container{
    display: inline-block;
    vertical-align: top;
    margin-top:10px;
    margin-left: 1%;
    margin-right: 1%;
    
}
.con1{
    vertical-align: top;
    background:white;
    border-radius: 20px;
    width:29%;
    padding: 20px 5px ;
    display: inline-block;
}
.con2{
    vertical-align: top;
    background:white;
    border-radius: 20px;
    width:40%;
    padding: 10px ;
    display: inline-block;
}
.con3{
    
    background:white;
    border-radius: 20px;
    width:25%;
    padding: 10px ;
    display: inline-block;
}
p{  
    padding-left: 15px ;   
}
.heading{
    padding-bottom:20px;
    text-align: center;
}
.img{
    width:100%;
    padding: 5px;
}
